<h1>Welcome to your Personalized Weather!</h1>

<!-- equivalent html code
<form name="bidInput" action="auction_app/submit" method "post">
	<div>
	<p>Your Name: <input type="text" name="bidderInput"> </p>
	<p>Your Bid: <input type="text" name="amountInput"> </p>
	<p> <input type="submit" value="enter_bid"> </p>
	</div>
</form>

-->

<p><a href="http://localhost:3000/lookups">Previous Weather Lookups</a></p>

<%= form_tag do%>
	<p>Your Name: <%= text_field_tag(:nameInput) %> </p>
	<p>Your Location: <%= text_field_tag(:locationInput) %> </p>
	<p> <%= submit_tag "Enter Info"%> </p>
<% end %>

<p>Hi <%= @allClimate.last.name.titleize %>! Your current weather in <%= @allClimate.last.city %> is <%= @allClimate.last.temperature %> degrees Fahrenheit. The conditions outside are <%= @allClimate.last.sky.downcase %>.</p>

<%=
if @allClimate.last.sky == "Partly Cloudy"
	image_tag "partlycloudy.png"
elsif @allClimate.last.sky == "Sunny"
	image_tag "sun.png"
elsif @allClimate.last.sky == "Mostly Cloudy"
	image_tag "mostlycloudy.png"
elsif @allClimate.last.sky == "Cloudy"
	image_tag "cloudy.png"
elsif @allClimate.last.sky == "Snow"
	image_tag "snow.jpg"
elsif @allClimate.last.sky == "Breezy"
	image_tag "breezy.png"
elsif @allClimate.last.sky == "Rain"
	image_tag "rain.jpg"
elsif @allClimate.last.sky == "Windy"
	image_tag "breezy.png"
elsif @allClimate.last.sky == "Scattered Showers"
	image_tag "rain.jpg"
elsif @allClimate.last.sky == "Snow Showers"
	image_tag "snow.jpg"
else
	image_tag "sun.png"
end
%>




<!-- <p> Previous Weather Lookups </p>
<table>
	<thread>
		<tr>
			<th> Name </th>
			<th> City </th>
			<th> Temperature </th>
			<th> Conditions </th>
		</tr>
	</thread>

	<tbody>
		<% @allClimate.reverse_each do |climate| %>
			<tr>
				<td> <%= climate.name %> </td>
				<td> <%= climate.city %> </td>
				<td> <%= climate.temperature %> </td>
				<td> <%= climate.sky %> </td>
				
			</tr>
		<% end %>
	</tbody>
</table> -->

<!-- Another form on the same page:
	Find the leader's name -->