<h1>Welcome to the weather!</h1>

<!-- equivalent html code
<form name="bidInput" action="auction_app/submit" method "post">
	<div>
	<p>Your Name: <input type="text" name="bidderInput"> </p>
	<p>Your Bid: <input type="text" name="amountInput"> </p>
	<p> <input type="submit" value="enter_bid"> </p>
	</div>
</form>

-->

<%= form_tag do%>
	<p>Your Name: <%= text_field_tag(:nameInput) %> </p>
	<p>Your Location: <%= text_field_tag(:locationInput) %> </p>
	<p> <%= submit_tag "Enter Info"%> </p>
<% end %>

<p>Hi <%= @allClimate.last.name.capitalize %>! Your current weather in <%= @allClimate.last.city %> is <%= @allClimate.last.temperature %> degrees Fahrenheit. The conditions outside are <%= @allClimate.last.sky.downcase %>.</p>

<%=
if @allClimate.last.sky == "Partly Cloudy"
	image_tag "partlycloud.png"
else
	image_tag "sun.png"
end
%>


<p> Previous Weather Lookups </p>
<table>
	<thread>
		<tr>
			<th> Name </th>
			<th> City </th>
			<th> Temperature </th>
			<th> Conditions </th>
		</tr>
	</thread>

	<tbody>
		<% @allClimate.reverse_each do |climate| %>
			<tr>
				<td> <%= climate.name %> </td>
				<td> <%= climate.city %> </td>
				<td> <%= climate.temperature %> </td>
				<td> <%= climate.sky %> </td>
				
			</tr>
		<% end %>
	</tbody>
</table>

<!-- Another form on the same page:
	Find the leader's name -->